* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


body {
    height: 100vh;
    background-color: white;
}

header {
    position: fixed;
    height: 8vh;
    width: 100%;
    padding: 0 2rem;
    background-color: white;
    font-size: 16px;
}


.navbar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-div {
    position: fixed;
    width: 100%;
    background-color: rgb(30, 120, 160);
    height: 600px;
    margin: 0 auto;
    z-index: -1;
}


.logo {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 5vh;
    color: rgb(24, 24, 80);
    font-weight: bold;
}


li {
    list-style: none;
}

a:hover {
    color: aqua;
    cursor: pointer;;
}

.navbar a {
    font-size: 3vh;
    font-weight: bold;
    text-decoration: none;
    color: rgb(24, 24, 80);
}

.navbar .links {
    display: flex;
    gap: 4rem;
}

.navbar .toggle_btn {
    color: rgb(24, 24, 80);
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: cyan;
    color: black;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.1;
    color: gold;
}

.action_btn:active {
    scale: 0.95;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dropdown_menu.open {
    height: 300px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

/* Responsive Design */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu.open{
        display: block;
    }
    
}


@media(max-width: 1440px) {
    .logo {
        font-size: 4vh;
    }

    .navbar a {
        font-size: 2vh;
    }
}